.quill {
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote,
.ql-editor h1,
.ql-editor h2,
.ql-editor h3,
.ql-editor h4,
.ql-editor h5,
.ql-editor h6 {
  margin: -3px !important;
  padding: 3px;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}

.quill .ql-editor a {
  color: #111 !important;
}

pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  padding: 5px 10px;
  border-radius: 3px;
}

.ql-snow .ql-picker.ql-font,
.ql-bubble .ql-picker.ql-font {
  width: 130px;
}
.ql-font span[data-value="impact"]::before,
.ql-font span[data-label="Impact"]::before {
  font-family: "Impact";
}
.ql-font span[data-value="courier"]::before,
.ql-font span[data-label="Courier"]::before {
  font-family: "Courier";
}
.ql-font span[data-value="comic"]::before,
.ql-font span[data-label="Comic Sans MS"]::before {
  font-family: "Comic Sans MS";
}

.ql-font-impact {
  font-family: "Impact";
}
.ql-font-courier {
  font-family: "Courier";
}
.ql-font-comic {
  font-family: "Comic Sans MS";
}

.ql-insertImage,
.ql-insertVideo {
  font-weight: bold;
  line-height: normal;
}
